@import "tailwindcss";

@theme {
  --color-muted: #17232a;
}

:root {
  --background: #030c13;
  --lighter-background: #07131a;
  --foreground: #e8f0f5;
  --light-text: #7a8186;
  --primary: #00bab3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border-color: var(--border) !important;
}

.lighter-background {
  background: var(--lighter-background);
}

.color-muted {
  color: var(--light-text);
}

.rounded {
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
}

p {
  margin-bottom: 16px;
}